@import "config/reset";
@import "config/fonts";
@import "config/typography";

@import "theme/base";
@import "theme/login";
@import "theme/navbar";
@import "theme/footer";

@import "utils/margins";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #5F5F5F;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    box-sizing: border-box;
  }
  
  *, ::after, ::before {
    box-sizing: inherit;
  }
  
  div {
    margin: 0;
    padding: 0;
  }
  
  .centeredContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .largeHeader {
    color: #00BCD4;
    font-weight: 100;
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .subHeader {
    color: #00BCD4;
    font-size: 35px;
    text-align: center;
    line-height: 55px;
    font-weight: 100;
  }
  
  .sectionHeader {
    margin-top: 20px;
    color: #00BCD4;
    font-size: 16px;
  }
  
  .errorMsg {
    color: #FF7777;
    font-size: 22px;
    text-align: center;
  }
  
  .center {
    text-align: center;
  }
  
  .baseTextAreaContainer {
    display: flex;
    height: 110px;
    margin: 10px;
  }
  
  .baseTextArea {
    flex: 1;
    border-radius: 3px;
    padding: 8px 10px;
    font-size: 18px;
    resize: none;
  }
  
  .darkBtn {
    background: #00BCD4;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px 15px;
    border-style: none;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #00BCD4;
  }
  
  .darkBtn:hover {
    background: #1877E6
  }
  .clickable {
    cursor: pointer;
    transition: all .2s ease-in-out;
    cursor: pointer;
  }

  .primaryButton {
    background: #3B5998;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    border-width: 0;
    font-size: 25px;
    cursor: pointer;
  }
  
  .primaryButton:hover {
    background: #1542A0;
  }
  
  .paper {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
  }
  
  .raisedButton {
    margin-top: 32px;
  }